<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
  </configSections>

  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <system.data>
        <DbProviderFactories>
          <remove invariant="MySql.Data.MySqlClient"/>
          <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
        </DbProviderFactories>
      </system.data>

  <appSettings>
    <add key="ServiceName" value="SupperSocketService"/>
  </appSettings>
  <superSocket>
    <servers>
      <server name="LockStepDemo" 
              serverTypeName="SyncService"
              ip="Any" 
              port="2012" 
              mode="Tcp" 
              sendTimeOut="5000" 
              sendingQueueSize="1000"
              sendBufferSize="1048576"
              receiveBufferSize="1048576"
              
              IsDebug = "False"
              
              DataBaseURL ="xxxxxxxxxxx"
              DataBaseUser="xxxxxxxxxxx"
              DataBasePassword="xxxxxxxxxxx"
              DataBaseName="xxxxxxxxxxx"
              
              RoomPeopleNum = "2"
              UpdateInterval = "100"
              >
      </server>
    </servers>
    
    <serverTypes>
      <!--逗号前面是类名字，逗号后面是程序集名字-->
      <add name="SyncService" type="SyncService,LockStepDemo"/>
           
    </serverTypes>
    
  </superSocket>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.2856.102" newVersion="1.0.2856.102"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
