{"SDKInfo":"{\"m_type\":0,\"m_content\":\"{\\\"SchemeName\\\":\\\"IOS\\\",\\\"LogScheme\\\":[],\\\"LoginScheme\\\":{\\\"SDKName\\\":\\\"NullSDKInterface\\\",\\\"SDKContent\\\":\\\"{\\\\\\\"tips\\\\\\\":\\\\\\\"this is Null SDK interface\\\\\\\"}\\\"},\\\"ADScheme\\\":{\\\"SDKName\\\":\\\"NullSDKInterface\\\",\\\"SDKContent\\\":\\\"{\\\\\\\"tips\\\\\\\":\\\\\\\"this is Null SDK interface\\\\\\\"}\\\"},\\\"PayScheme\\\":{\\\"SDKName\\\":\\\"NullSDKInterface\\\",\\\"SDKContent\\\":\\\"{\\\\\\\"tips\\\\\\\":\\\\\\\"this is Null SDK interface\\\\\\\"}\\\"},\\\"OtherScheme\\\":[]}\",\"m_enumType\":\"\"}"}